body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  h1 {
    color: #c94b24;
    text-align: center;
  }

  #page{
   background: #eee;
   hiegh
   display: flex;
}
  #left-side{
   position: absolute;
   padding: 10px;
   height: 100%;
   width: 15%;
   left: 0px;
   /* background: blue; */
   
}

#right-side{
   /* background: red; */
   position: absolute;
   height: 100%;
   width: 15%;
   right: 0px;
   padding: 10px;
 }

 .plant-holder {
	position: relative;
	height: 13%;
	left: -10px;
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.terrarium{
   background: red;
   height: 100%;
   width: 100%;
}